/* using * selects all elements on page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* when you add padding, adds on inside of element */
}

html,
body {
    height: 100%;
} 

body {
    background-color: rgb(172, 211, 151);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

:root{
    --main-color: rgb(72, 117, 48);
    --secondary-colour: #1b1b1b;
}

/* global */
section {
    padding: 5%;
}

/* FONT */
@font-face {
    font-family: "roboto mono";
    src: url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300");
}

h2{
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 125%;
}

/* HEADER */
.logo {
    display: flex; /* tells div to align elements horizontally */
    align-items: center;
}

.logo h1 {
    margin-left: 0.5rem;
    font-family: "roboto mono", sans-serif; /*sans is back up font*/
    font-size: 1rem;
}

.logo img {
    width: 5rem;
}

.front-page {
    min-height: 100vh; /* expands with content */
    color: white;
}

/* BKGD IMG */
.picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 80%
}

/* homepage content formatting*/
.home {
    background-color: grey;
    opacity: 90%;
    border-radius: 1rem;
    margin-top: 25vh;
    font-family: "roboto mono", sans-serif;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49); /* something - down - blur - color*/
    text-align: center;
}

.home h3 {
    font-family: sans-serif;
    text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.49);
}

/* spacing buttons out from text*/
.cta {
    margin-top: 2rem;
}

/* styling cta buttons */
.cta button {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
    margin: 1rem;
}

.cta-main {
    background-color: var(--main-color);
    color: white;
}

.cta-secondary {
    background-color: var(--secondary-colour);
    color: white;
}

/* BLOG */

.blog {
    color: var(--secondary-colour);
    padding-top: -7rem;
}

.blog h2 {
    font-family: "roboto mono", sans-serif;
    text-align: center;
}

/* CONTACTS */

.contact {
    color: var(--secondary-colour);
    text-align: center;
    font-family: "roboto mono", sans-serif;
    margin-top: -10rem;
}

.contact-description {
    padding: 5%;
}

.contact-methods {
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
}

.linkedin,
.github,
.ebird,
.strava,
.email {
    position: relative;
}

.contact-methods h3 {
    position: relative;
    color: black;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

/* NAV */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav svg {
    cursor: pointer;
}

.links {
    position: relative;
    background: black;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
}

.links a {
    color: var(--secondary-colour);
    font-size: 2rem;
}