body {
        
    /* Below are CSS PROPERTIES

        Should be centred background image - doesn't work
        
        background-image: url("https://www.ibb.co/album/6JdmSz");
        background-position: center;*/

       /* background gradient

       background-image: linear-gradient(red,yellow);
        height: 1000px; */
        
        color: black;
        background-color: yellow;
        font-size: 20px;  
        /*font-family
        ;font-weight: 300;*/
    }

    .h1 {
        color: black;
        /*letter-spacing: 0.2em;*/
        margin-left: 50px;
        margin-top: 10px;
        /*Gradient property
        background-image: linear-gradient(red, lightslategray);*/
    }

    .menu {
        /*font-style:italic;
        max-width: 1200px;*/
        border: 0px;
        color: black;
        height: 200px;
        /*Install border and Round corners off*/
        border: 5px black;
        border-radius: 5px;
        background-color: purple;
        /* min-width: -100px;*/
        padding: 10px 10px 50px 500px;
        list-style: none;
        /*box-shadow: 5px 10px 20px lightslategray;*/
    }

    .button-style {
        transition-duration: 0.1s;
        border:none;
        background-color: red;
        padding 15px 32px;
        text-align: center;
        display:inline-block;
        font-size: 16px;
        margin: 10px 2px;
        cursor: crosshair;
    }

    .button-style:hover {
        background: white;
    }

    a {
        color: black;
    }

    /* CSS Property for visited link formatting
    a:visited {
        colour: purple;
    }
    */
    .main-body-text {
        color: blue;
        max-width: 768px;
        margin-left: 100px;
        margin-top: 50px;
        line-height: 1.4em;
    }