body {
        
    /* Below are CSS PROPERTIES

        Should be centred background image - doesn't work
        
        background-image: url("https://www.ibb.co/album/6JdmSz");
        background-position: center;*/

       /* background gradient

       background-image: linear-gradient(red,yellow);
        height: 1000px; */
        
        color: black;
        background-color: palegoldenrod;
        font-size: 20 px;  
        /*font-family
        ;font-weight: 300;*/
    }

    .h1 {
        color: black;
        /*letter-spacing: 0.2em;*/
        margin-left: 50 px;
        margin-top: 10 px;
        /*Gradient property
        background-image: linear-gradient(red, lightslategray);*/
    }

    .menu {
        /*font-style:italic;
        max-width: 1200px;*/
        border: 0 px;
        color: black;
        height: 200 px;
        /*Install border and Round corners off*/
        border: 5 px black;
        border-radius: 5 px;
        background-color: purple;
        /* min-width: -100px;*/
        padding: 10 px 10 px 50 px 500 px;
        list-style: none;
        /*box-shadow: 5px 10px 20px lightslategray;*/
    }

    .button-style {
        transition-duration: 0.1sec;
        border:none;
        background-color: red;
        padding 15 px 32 px;
        text-align: center;
        display:inline-block;
        font-size: 16 px;
        margin: 10 px 2 px;
        cursor: crosshair;
    }

    .button-style:hover {
        background: white;
    }

    a {
        color: black;
    }

    /* CSS Property for visited link formatting
    a:visited {
        colour: purple;
    }*/

    .main-body-text {
        color: blue;
        max-width: 768 px;
        margin-left: 100 px;
        margin-top: 50 px;
        line-height: 1.4 em;
    }