body {
        
    /* Below are CSS PROPERTIES

        Should be centred background image - doesn't work
        
        background-image: url("https://www.ibb.co/album/6JdmSz");
        background-position: center;*/

       /* background gradient

       background-image: linear-gradient(red,yellow);
        height: 1000px; */
        background-image: url('moon.png');
        background-repeat: no-repeat;
        background-position: left;
        background-color:black;
        font-size: 20;  
        /*font-family
        ;font-weight: 300;*/
    }

    .h1 {
        color: white;
        /*letter-spacing: 0.2em;*/
        margin: 10 50 0 0;
        /*Gradient property
        background-image: linear-gradient(red, lightslategray);*/
    }

    .menu {
        /*font-style:italic;
        max-width: 1200px;*/
        color: white;
        height: 200;
        background-color: darkblue;
        /* min-width: -100px;*/
        padding: 10 10 50 500;
        list-style: none;
        /*box-shadow: 5px 10px 20px lightslategray;*/
    }

    .button-style {
        transition-duration: 0.1;
        background-color: red;
        padding: 15 32 20 20;
        text-align: center;
        display: inline-block;
        font-size: 16;
        margin: 30 30 30 30;
        cursor: crosshair;
    /*Install border and round corners off - borders present, rounding BROKEN*/
        border: 2 solid blue;
        border-radius: 10;
    }

    .button-style:hover {
        background: white;
    }

    /*Customising links*/
    a {
        color: black;
    }

    /* CSS Property for visited link formatting - BROKEN
    a:visited {
        colour: purple;
    }*/

    table {
        /*padding top right bottom left - doesn't work*/
        padding: 25 50 75 100;
    }

    .main-body-text {
        color: blue;
        max-width: 768;
        margin-left: 100;
        margin-top: 50;
        line-height: 1.4;
        padding: 20;
    }
