body {
        
    /* Below are CSS PROPERTIES

        Should be centred background image - doesn't work
        
        background-image: url("https://www.ibb.co/album/6JdmSz");
        background-position: center;*/

       /* background gradient

       background-image: linear-gradient(red,yellow);
        height: 1000px; */
        
        color: black;
        background-color:white;
        font-size: 20;  
        /*font-family
        ;font-weight: 300;*/
    }

    .h1 {
        color: black;
        /*letter-spacing: 0.2em;*/
        margin-left: 50;
        margin-top: 10;
        /*Gradient property
        background-image: linear-gradient(red, lightslategray);*/
    }

    .menu {
        /*font-style:italic;
        max-width: 1200px;*/
        color: black;
        height: 200;
        /*Install border and Round corners off*/
        border: 5 black;
        background-color: purple;
        /* min-width: -100px;*/
        padding: 10 10 50 500;
        list-style: none;
        /*box-shadow: 5px 10px 20px lightslategray;*/
    }

    .button-style {
        transition-duration: 0.1;
        border:none;
        background-color: red;
        padding: 15 32;
        text-align: center;
        display:inline-block;
        font-size: 16;
        margin: 10 2;
        cursor: crosshair;
        border-radius: 5;
    }

    .button-style:hover {
        background: white;
    }

    a {
        color: black;
    }

    /* CSS Property for visited link formatting
    a:visited {
        colour: purple;
    }*/

    .main-body-text {
        color: blue;
        max-width: 768;
        margin-left: 100;
        margin-top: 50;
        line-height: 1.4;
    }